<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <footer th:fragment="bottom">
        <ul>
            <li><a href="https://twitter.com/bbcdoctorwho">Twitter</a></li>
            <li><a href="https://fr-fr.facebook.com/DoctorWho/">Facebook</a></li>
            <li><a href="https://fr.wikipedia.org/wiki/TARDIS">TARDIS</a></li>
        </ul>
        <span>Copyright BBC/Terry Nation 1963</span>
      </footer>
    
</body>
</html>